/HW4/nbproject/private/
/HW5/HW5.X/nbproject/private/
/HW7/IMU.X/nbproject/private/
/HW7/IMU.X/build/default/
/HW7/IMU.X/dist/default/
/HW6/LCD.X/nbproject/private/
/HW4/build/default/
/HW5/HW5.X/build/default/
/HW8/firmware/HW8.X/nbproject/private/
/HW9/firmware/HW9.X/nbproject/private/
/HW9/HW9/firmware/HW9.X/nbproject/private/
/HW16/firmware/HW16.X/nbproject/private/